<div class="container">
<div>
<app-table *ngIf="aot" [name]="'aot'" [data]="aot"  (outputData)="alertData($event)"></app-table>
<app-table *ngIf="_lastValService.aotFromCircuits" [name]="'circuits'" [data]="_lastValService.aotFromCircuits" (outputData)="alertData($event)"></app-table>
<app-table *ngIf="_lastValService.filteredDevices" [name]="'devices'" [data]="_lastValService.filteredDevices" (outputData)="alertData($event)"></app-table>
</div>
<!--<app-display-code *ngIf="_lastValService.filteredLastVal?.length > 0 "></app-display-code>-->
<div>
<app-list></app-list>
</div>
</div>
<app-message></app-message>
