<table class="table">
  <thead>
  <tr>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let singleData of _lastValService.filteredResult">
    <th scope="row"></th>
    <td> {{singleData}}</td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
<button (click)="_lastValService.resetAll()">Reset</button>
