<table class="table">
  <thead>
  <tr>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let singleData of data">
    <th scope="row"></th>
    <td *ngFor="let key of singleData|keyvalue"> {{key.value}}
      <button *ngIf="key.key === 'circuitIdSAP' "  (click)="_lastValService.compareCircuitID(singleData)" >S</button>
      <button *ngIf="key.key === 'aotCode' && name === 'aot' " (click)="_lastValService.getFilteredAot(singleData)">F</button>
      <button *ngIf="key.key === 'circuitIDSAP' && name === 'circuits' " (click)="_lastValService.getFilteredDevices(key.value)">circuit</button> </td>
  </tr>
  </tbody>
</table>
