


        <div class="alert alert-success" role="alert"  *ngIf="_lastValService.checkPresent == 1">
          Not Present !
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="_lastValService.checkPresent == 2">
          Present !
        </div>
