html{
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box ;
}

body{
  margin: 0;
  height: 100vh;
  font-size:1.6rem;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}

/* Layout */

.grid-containerP{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6.5rem 1fr 5rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #FB8C00;
}

main{
  grid-area:main;
  padding: 1rem;
  margin-top: 5rem;
}

footer{
  grid-area: footer;
  background-color: #FB8C00;
  color: #000000;
}

/* Common */
h1{
  font-size: 1.8rem;
  padding:1rem 0
}

h2{
  font-size: 1.6rem;
  padding:1rem 0
}

a{
  text-decoration: none;
}

a:hover{
  color: #11151C;
}

/* Header */
header a{
  color: #000000;
  padding: 2rem;
}

a.brand{
  /*
  color: #ffffff;
  font-size: 3rem ;
  font-weight: bold;
  */
  color:transparent;
  background-image: url('./Logo.png');
  background-repeat: no-repeat;
}

.rowP{
  display: flex ;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rowP.center{
  justify-content: center;
}

/* Image */

img{
  border-radius: 0.5rem;
}

img.medium{
  max-width: 29rem;
  width: 100%;
  max-height: 29rem;
  height: 29rem;
}

/* Card */

.cardP{
  border: 0.1rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin:1rem;
}

.card-bodyP{
  padding: 1rem;
}

.card-bodyP >*{
  margin-bottom: 0.5rem;
}

.priceP{
  font-size: 2rem;
}

/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child{
  color: #404040;
}
.floatP{
  float: left;
}

#search{
  max-width: 2rem;
}
.containersearchbar{
  justify-content: center;
  width: 100rem;
}

.formP {
background-color: white!important;
border-radius: 1rem;
  width: 50rem;
}


.buttonP{
  width: 1rem;
  border: 0rem !important;
  outline: none !important;
  background-color: transparent;
}
.inputP{
  font-size: 1.7rem!important;
  height: 3rem;
  width: 47rem!important;
  border: 0.3rem!important;
  border-color: white!important;
  border-radius: 0.5rem;

}
.inputP:focus{
  box-shadow: none!important;
}

.buttonNav{
  font-size: 1.7rem!important;

}
